{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Hardestee Samuel International ||</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicons/favicon-16x16.png' %}" />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta name="description" content="Hardestee Samuel International is the parent company for Hardestee music, hardestee comedy, hardestee driving school and hardestee charity" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/animate/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/animate/custom-animate.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/jarallax/jarallax.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/nouislider/nouislider.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/nouislider/nouislider.pips.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/odometer/odometer.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/swiper/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/kontin-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/tiny-slider/tiny-slider.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/reey-font/stylesheet.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/twentytwenty/twentytwenty.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/bxslider/jquery.bxslider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-select/css/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/vegas/vegas.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/jquery-ui/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/timepicker/timePicker.css' %}" />

    <!-- template styles -->
    <link rel="stylesheet" href="{% static 'assets/css/kontin.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/kontin-responsive.css' %}" />
</head>

<body>
    <div class="preloader">
        <img class="preloader__image" width="60" src="{% static 'assets/images/loader.png' %}" alt="" />
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <header class="main-header clearfix">
            <div class="main-header__top">
                <div class="container">
                    <div class="main-header__top-inner clearfix">
                        <div class="main-header__top-left">
                            <ul class="list-unstyled main-header__top-address">
                                <li>
                                    <div class="icon">
                                        <span class="icon-pin"></span>
                                    </div>
                                    <div class="text">
                                        <p>Jofco Shopping Complex opp K.T Femade Filling Station, Ogbodoroko Road close to Afon Junction Ilorin Kwara State.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-email"></span>
                                    </div>
                                    <div class="text">
                                        <a href="mailto:Odewoyeadesty@gmail.com">Odewoyeadesty@gmail.com </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main-header__top-right">
                            <div class="main-header__top-right-social">
                                <a href="https://twitter.com/hardestee1?t=YS4QI28q2ufV1HL-_uOoIw&s=09"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/hardesteecharity/"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.facebook.com/hardesteedrivingschool/"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.facebook.com/Hardestee/"><i class="fab fa-facebook-square"></i></a>
                                <a href="https://instagram.com/hardesteecomedy?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
                                <a href="https://instagram.com/hardesteecharity?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
                                <a href="https://instagram.com/hardesteedrivingschool?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="main-menu clearfix">
                <div class="main-menu-wrapper clearfix">
                    <div class="container clearfix">
                        <div class="main-menu-wrapper-inner clearfix">
                            <div class="main-menu-wrapper__left clearfix">
                                <div class="main-menu-wrapper__logo">
                                    <!--<a href="index.html"><img src="{% static 'assets/images/resources/logo-1.png' %}" alt=""></a>-->
                                    <h5>Hardestee Samuel Int'l</h5>
                                </div>
                                <div class="main-menu-wrapper__main-menu">
                                    <a href="#" class=""></a>
                                    <ul class="main-menu__list">
                                        <li >
                                            <a href="#">Home</a>
                                            
                                        </li>
                                        <li >
                                            <a href="#about">About Me</a>
                                           
                                        </li>
                                        <li >
                                            <a href="#services">Services</a>
                                           
                                        </li>
                                        <li>
                                            <a href="#laws">Laws</a>
                                           
                                        </li>

                                        <li><a href="#contact">Contact</a></li>
                                       
                                        
                                        <li>
                                            <a href="#projects">Projects</a>
                                            
                                        </li>
                                        

                                        
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="main-menu-wrapper__right">
                                <div class="main-menu-wrapper__call">
                                    <div class="main-menu-wrapper__call-icon">
                                        <span class="icon-phone"></span>
                                    </div>
                                    <div class="main-menu-wrapper__call-number">
                                        <a href="tel:08163854902">08163854902</a>
                                        <p>08079656886</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        <!-- Banner One Start -->
        <section class="main-slider">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                    "pagination": {
                    "el": "#main-slider-pagination",
                    "type": "bullets",
                    "clickable": true
                },
                    "navigation": {
                    "nextEl": "#main-slider__swiper-button-next",
                    "prevEl": "#main-slider__swiper-button-prev"
                    },
                    "autoplay": {
                    "delay": 5000
                }}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(https://wallpaperaccess.com/full/6802137.jpg);"></div>
                        <div class="image-layer-overlay"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-slider__content">
                                        <h2>Welcome to<span class="highlight">Hardestee</span> <br> Samuel International
                                        </h2>
                                        <p>We’ve One Mission to be the Best Company in Nigeria.</p>
                                        <a href="#projects" class="btn-style-one">
                                            <i class="btn-curve"></i>
                                            <span class="btn-title">Discover More</span>
                                        </a>
                                        <div class="main-slider__side-text">Hardestee</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(https://images.squarespace-cdn.com/content/v1/603c11839959d83fcdc14604/1614551696394-OUQFZUP8SRE0IMDUFD1K/annie-spratt-cVEOh_JJmEE-unsplash.jpg);">
                        </div>

                        <div class="image-layer-overlay"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-slider__content">
                                        <h2>Welcome to<span class="highlight">Hardestee</span> <br> Samuel International
                                        </h2>
                                        <p>We’ve One Mission to be the Best Company in Nigeria.</p>
                                        <a href="#services" class="btn-style-one">
                                            <i class="btn-curve"></i>
                                            <span class="btn-title">Discover More</span>
                                        </a>
                                        <div class="main-slider__side-text">Hardestee</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(https://i0.wp.com/carmart-blog.s3.af-south-1.amazonaws.com/2021/02/5awV5uBq-List-Of-Driving-Schools-In-Lagos-And-Their-Prices.jpg?fit=1200%2C675&ssl=1);">
                        </div>

                        <div class="image-layer-overlay"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-slider__content">
                                        <h2>Welcome to<span class="highlight">Hardestee</span> <br> Samuel International
                                        </h2>
                                        <p>We’ve One Mission to be the Best Company in Nigeria.</p>
                                        <a href="#about" class="btn-style-one">
                                            <i class="btn-curve"></i>
                                            <span class="btn-title">Discover More</span>
                                        </a>
                                        <div class="main-slider__side-text">Hardestee</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-pagination" id="main-slider-pagination"></div>
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <i class="icon-right-arrow icon-left-arrow"></i>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <i class="icon-right-arrow"></i>
                    </div>
                </div>
            </div>
        </section>
        <!--Banner One End-->

        <!--Welcome One Start-->
        <section class="welcome-one" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="welcome-one__left wow slideInLeft" data-wow-delay="100ms"
                            data-wow-duration="2500ms">
                            <div class="welcome-one__img-box">
                                <div class="welcome-one__img">
                                    <img width="50%" src="{% static 'assets/images/1.jpeg' %}" alt="">
                                </div>
                                <div class="welcome-one__small-img">
                                    <img width="50%" src="{% static 'assets/images/2.jpeg' %}" alt="">
                                </div>
                                <div class="welcome-one__completed">
                                    <div class="welcome-one__completed-icon">
                                        <span class="icon-creative-design"></span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="welcome-one__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Welcome</span>
                                <h2 class="section-title__title">Let’s Build Something Creative Together</h2>
                            </div>
                            <p class="welcome-one__right-text-1">About Me</p>
                            <p class="welcome-one__right-text-2">Odewoye Adebola OluwaToyosi better known as Hardestee is a Physicist, Instructor, Entertainer and Philanthropist.
He Obtained Bachelor in Physics/Electronics from Federal University of Technology,Minna in 2018. 
He also attended Driving School Instructor training with FRSC in 2017.
He work with Dartford Mortgage Centre in United Kingdom, Funmi Nehan Foundation etc..He's the Founder/Proprietor of Hardestee Samuel International (Hardestee Driving School,Hardestee Charity, Hardestee Farm, Hardestee Comedy) and  Senior Instructor at Jupiter Safety Driving School.
 He has talent in Comedy and Music with over 20 release inspirational songs and video. World is War(Ogun Laye) was his first official Musical video</p>
                            <ul class="list-unstyled welcome-one__list">
                                <li>
                                    <div class="welcome-one__list-icon">
                                        <span class="icon-check"></span>
                                    </div>
                                    <div class="welcome-one__list-text">
                                        <p>Hardestee Driving School </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="welcome-one__list-icon">
                                        <span class="icon-check"></span>
                                    </div>
                                    <div class="welcome-one__list-text">
                                        <p>Hardestee Charity </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="welcome-one__list-icon">
                                        <span class="icon-check"></span>
                                    </div>
                                    <div class="welcome-one__list-text">
                                        <p>Hardestee Comedy </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="welcome-one__list-icon">
                                        <span class="icon-check"></span>
                                    </div>
                                    <div class="welcome-one__list-text">
                                        <p>Hardestee Music</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="welcome-one__person">
                               
                                <div class="welcome-one__person-sign">
                                    <h3>Hardestee Samuel</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Welcome One End-->

        <!--Services One Start-->
        <section class="services-one" id="services">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Services we’re offering</span>
                    <h2 class="section-title__title">Industries We Serve</h2>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <!--Services One Single-->
                        <div class="services-one__single">
                            <div class="services-one__img">
                                <img src="{% static 'assets/images/10.jpeg' %}" alt="">
                                
                            </div>
                            <div class="services-one__content">
                                <h3 class="services-one__title"><a href="">Hardestee Comedy</a>
                                </h3>
                                
                                <div class="services-one__arrow">
                                    <a href=""><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 wow fadeInDown" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <!--Services One Single-->
                        <div class="services-one__single">
                            <div class="services-one__img">
                                <img src="{% static 'assets/images/4.jpeg' %}" alt="">
                                
                            </div>
                            <div class="services-one__content">
                                <h3 class="services-one__title"><a href="">Hardestee Driving School</a>
                                </h3>
                                
                                <div class="services-one__arrow">
                                    <a href=""><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <!--Services One Single-->
                        <div class="services-one__single">
                            <div class="services-one__img">
                                <img  src="{% static 'assets/images/9.jpeg' %}" alt="">
                                
                            </div>
                            <div class="services-one__content">
                                <h3 class="services-one__title"><a href="">Hardestee Music</a></h3>
                                
                                <div class="services-one__arrow">
                                    <a href=""><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Services One End-->

        <!--Tabs Box One Start-->
        <section class="tabs-box-one" id="laws">
            <div class="container">
                <div class="tabs-box-one__main-tab-box tabs-box">
                    <ul class="tab-buttons clearfix list-unstyled">
                        <li data-tab="#powerful" class="tab-btn "><span>1st & 2nd Law of Success</span></li>
                        <li data-tab="#leading" class="tab-btn active-btn"><span>3rd & 4th Law of Success</span></li>
                        <li data-tab="#solutions" class="tab-btn"><span>5th and 6th Law of Success</span></li>
                    </ul>
                    <div class="tabs-content">
                        <!--tab-->
                        <div class="tab " id="powerful">
                            <div class="tabs-content__inner">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="tabs-content__inner-left">
                                            <div class="tabs-content__inner-img">
                                                <img src="{% static 'assets/images/8.jpeg' %}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="tabs-content__inner-right">
                                            
                                            <ul class="list-unstyled tabs-content__inner-list">
                                                <li>
                                                    <div class="icon">
                                                        <span class="icon-customer-review"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h4>Hardestee's 1st law of success  states that</h4>
                                                        <p>provided prayers and all other Good spiritual activities are kept constant,a man succeeds when the cohesive force of attraction between his hard work is greater than the adhesive force of attraction between his hard work and distraction.</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <span class="icon-customer-review"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h4>Hardestee's  second law of success states that</h4>
                                                        <p>The number of success integrating per second in ones life is directly proportional to the number of hardwork induce and inversely proportional to the number of failure found at that instant at constant prayer..</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--tab-->
                        <div class="tab active-tab" id="leading">
                            <div class="tabs-content__inner">
                                <div class="row flex-row-reverse">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="tabs-content__inner-left">
                                            <div class="tabs-content__inner-img">
                                                <img src="{% static 'assets/images/11.jpeg' %}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="tabs-content__inner-right">
                                            
                                            <ul class="list-unstyled tabs-content__inner-list">
                                                <li>
                                                    <div class="icon">
                                                        <span class="icon-customer-review"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h4>Hardestee's third law of success states that</h4>
                                                        <p>Limit not anybody,limiting anyone says x to zero I. e(dy/dx as x=0) may still give you a absolute value of success..</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <span class="icon-customer-review"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h4>Hardestee's forth law of success states that</h4>
                                                        <p> When effective constraints such as hardwork,prayer,faith is been induced into ones life then his failure will shift to success..</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--tab-->
                        <div class="tab " id="solutions">
                            <div class="tabs-content__inner">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="tabs-content__inner-left">
                                            <div class="tabs-content__inner-img">
                                                <img src="{% static 'assets/images/6.jpeg' %}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="tabs-content__inner-right">
                                            
                                            <ul class="list-unstyled tabs-content__inner-list">
                                                <li>
                                                    <div class="icon">
                                                         <span class="icon-customer-review"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h4>Hardestee's fifth law of success states that</h4>
                                                        <p>Provided miracle is excluded, It is impossible for a living creature to create a successful story without atleast been perturbed.</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="icon">
                                                        <span class="icon-customer-review"></span>
                                                    </div>
                                                    <div class="text">
                                                        <h4>Hardestee sixth law of success states that</h4>
                                                        <p>Provided you are loaded and committed. On your initial state and starting point in acheiving your dreams, it is normal for people to say alot of shit about what you do. But with consistency you will be successful and celebrated later.</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Tabs Box One End-->

       

        <!--We Building Start-->
        <section class="we-building" id="contact">
            <div class="we-building-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                style="background-image: url(https://www.teahub.io/photos/full/151-1514138_assault-and-battery-recording-studio.jpg)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7">
                        <div class="we-building__video-box">
                            <div class="we-building__video-link">
                                <a href="https://www.youtube.com/watch?v=McOCjRmvQd4" class="video-popup">
                                    <div class="we-building__video-icon">
                                        <span class="icon-play-button"></span>
                                        <i class="ripple"></i>
                                    </div>
                                </a>
                            </div>
                            <h2 class="we-building__video-title">We’re Building the Future and Restoring the Past</h2>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms">
                        <div class="we-building__get-quote">
                            <h2 class="we-building__get-quote-title">Get a Free Quote</h2>
                            <form action="" method="post" class="we-building__form">
                                <input type="text" placeholder="Your Name" name="name">
                                <input type="email" placeholder="Email Address" name="email">
                                <input type="text" placeholder="Phone Number" name="phone">
                                <button type="submit" class="btn-style-one we-building__get-quote-btn">
                                    <i class="btn-curve"></i>
                                    <span class="btn-title">Request a quote</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--We Building End-->

        <!--Projects One Start-->
        <section class="project-one" id="projects">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Complete work list</span>
                    <h2 class="section-title__title">Our projects</h2>
                </div>
                <div class="project-one__carousel owl-theme owl-carousel">
                    <!--Projects One Single-->
                    <div class="project-one__single">
                        <div class="project-one__img">
                            <img src="{% static 'assets/images/resources/1.jpeg' %}" alt="">
                            <div class="project-one__content">
                               <h5 class="project-one__tagline">Hardestee <span>/</span> Music</h5>
                                <h3 class="project-one__tilte"><a href="#">Music Collection</a>
                                </h3>
                                <div class="project-one__arrow">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Projects One Single-->
                    <div class="project-one__single">
                        <div class="project-one__img">
                            <img src="{% static 'assets/images/resources/2.jpeg' %}" alt="">
                            <div class="project-one__content">
                                <h5 class="project-one__tagline">Hardestee <span>/</span> Music</h5>
                                <h3 class="project-one__tilte"><a href="#">Music Collection</a>
                                </h3>
                                <div class="project-one__arrow">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Projects One Single-->
                    <div class="project-one__single">
                        <div class="project-one__img">
                            <img src="{% static 'assets/images/resources/3.jpeg' %}" alt="">
                            <div class="project-one__content">
                                <h5 class="project-one__tagline">Hardestee <span>/</span> Music</h5>
                                <h3 class="project-one__tilte"><a href="#">Music Collection</a>
                                </h3>
                                <div class="project-one__arrow">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Projects One Single-->
                    <div class="project-one__single">
                        <div class="project-one__img">
                            <img src="{% static 'assets/images/resources/4.jpeg' %}" alt="">
                            <div class="project-one__content">
                                <h5 class="project-one__tagline">Hardestee <span>/</span> Music</h5>
                                <h3 class="project-one__tilte"><a href="#">Music Collection</a>
                                </h3>
                                <div class="project-one__arrow">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Projects One Single-->
                    <div class="project-one__single">
                        <div class="project-one__img">
                            <img src="{% static 'assets/images/resources/1.jpeg' %}" alt="">
                            <div class="project-one__content">
                                <h5 class="project-one__tagline">Hardestee <span>/</span> Music</h5>
                                <h3 class="project-one__tilte"><a href="#">Music Collection</a>
                                </h3>
                                <div class="project-one__arrow">
                                    <a href="#"><span class="icon-right-arrow"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Projects One End-->

       

        <!--Testimonial One Start-->
        <section class="testimonial-one" id="quotes">
            <div class="testimonial-one-bg"
                style="background-image: url(https://media.istockphoto.com/vectors/headphones-on-sound-wave-background-colorful-abstract-visualization-vector-id1215540461?k=20&m=1215540461&s=612x612&w=0&h=9oZTufALkZWTimCF3DbR1IWa1MxifEIqeTrI96xseI0=)"></div>
            <div class="testimonial-one-bg-overly"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="testimonial-one__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Hardestee Quotes</span>
                                <h2 class="section-title__title">Our Life and Inspirational Quotes</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="testimonial-one__right">
                            <div class="testimonial-one__carousel owl-theme owl-carousel">
                                <!--Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text">Hardestee First Quote "The truth about life:There exist not a perfect time. But the fact about living creatures is that they must continue to hope and believe for a perfect time which doesn't exist, until everything fades out.</p>
                                    <div class="testimonial-one__client-info">
                                        <h5 class="testimonial-one__client-name">Tags: hardestee, life, inspirational, truth, fact, living, creatures</h5>
                                        
                                    </div>
                                    
                                </div>
                                <!--Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text">Hardestee Second Quote "Never leak out a secret to anyone no matter the relationship or how you feel. Rather express it in terms of advice, warning or parable, it is left for the person to comprehend . If not, you won't acquire subsequent secrets to save life any more.</p>
                                    <div class="testimonial-one__client-info">
                                        <h5 class="testimonial-one__client-name">Tags: hardestee, secret, relationship, matter, warning, parable, person,life</h5>
                                        
                                    </div>
                                   
                                </div>
                                <!--Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text">Hardestee Third Quote "In existence of any talented human can be related with the principle behind a new seed germination which begins with a very little fracture and the center of it look stupid in the sight of the existing trees and other plants,only the strong and active seeds survive the germination processes,and grow to a new tree that has never been in existence.</p>
                                    <div class="testimonial-one__client-info">
                                        <h5 class="testimonial-one__client-name">Tags: hardestee, tree, fracture, survive seed, talented, germination,human</h5>
                                        
                                    </div>
                                    
                                </div>

                                <!--Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text">Hardestee Fourth Quote “I’m not surprised that the world is not balanced because it is spherical. If the world is flat, then it would be balanced. I wish I was an aerial photographer I would have practically viewed and pictured by myself how spherical the earth is”</p>
                                    <div class="testimonial-one__client-info">
                                        <h5 class="testimonial-one__client-name">Tags: hardestee, world, spherical, aerial photographer, picture, earth</h5>
                                        
                                    </div>
                                    
                                </div>
                                


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonial One End-->

        

        <!--CTA One Start-->
        <section class="cta-one">
            <div class="cta-one-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                style="background-image: url(assets/images/backgrounds/cta-one-bg.jpg)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="cta-one__inner wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="cta-one__title">
                                <h2>Provide You Quality Work that <br> Meets Your Expectation</h2>
                            </div>
                            <div class="cta-one__btn-box">
                                <a href="#contact" class="btn-style-one cta-one__btn">
                                    <i class="btn-curve"></i>
                                    <span class="btn-title">Discover More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--CTA One End-->

        <!--Site Footer One Start-->
        <footer class="site-footer">
            <div class="site-footer__top">
                <div class="container">
                    <div class="site-footer__top-inner">
                        <div class="site-footer-map"
                            style="background-image: url(https://static.wixstatic.com/media/9548b5_8476454ebb5e48cd96712576d71f7bac~mv2.jpg/v1/crop/x_142,y_97,w_3710,h_2345/fill/w_600,h_380,al_c,q_80,usm_0.66_1.00_0.01/6D3540C5-DAA4-41D7-8D4B-362B34BF49CE_JPG.webp)"></div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <div class="footer-widget__column footer-widget__about">
                                    
                                    <p class="footer-widget__about-text">Hardestee Samuel International</p>
                                    <div class="footer-widget__about-social">
                                        
                                        <a href="https://audiomack.com/hardestee/song/best-of-hardestee-2022"><i class="fa fa-music"></i></a>
                                        <a href="https://instagram.com/hardesteedrivingschool?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
                                        <a href="https://instagram.com/hardesteecharity?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
                                        <a href="https://instagram.com/hardesteecomedy?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
                                    </div>
                                    <br>
                                    <div class="footer-widget__about-social">
                                        <a href="https://twitter.com/hardestee1?t=YS4QI28q2ufV1HL-_uOoIw&s=09"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.facebook.com/hardesteedrivingschool/"><i class="fab fa-facebook"></i></a>
                                        <a href="https://www.facebook.com/Hardestee/"><i class="fab fa-facebook"></i></a>
                                        <a href="https://www.facebook.com/hardesteecharity/"><i class="fab fa-facebook"></i></a>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="footer-widget__column footer-widget__links clearfix">
                                    <h3 class="footer-widget__title">Links</h3>
                                    <ul class="footer-widget__links-list list-unstyled">
                                        <li><a href="#about">About Us</a></li>
                                        <li><a href="#projects">Our projects</a></li>
                                        <li><a href="#services">Our Services</a></li>
                                        <li><a href="#quotes">Our Quotes</a></li>
                                        <li><a href="#contact">Contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="footer-widget__column footer-widget__contact">
                                    <h3 class="footer-widget__title">Contact</h3>
                                    <ul class="list-unstyled footer-widget__contact-list">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-telephone"></span>
                                            </div>
                                            <div class="text">
                                                <p><a href="tel:08163854902">08163854902</a></p>
                                                <p><a href="tel:08079656886">08079656886</a></p>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-email"></span>
                                            </div>
                                            <div class="text">
                                                <p><a href="mailto:Odewoyeadesty@gmail.com">Odewoyeadesty@gmail.com </a></p>
                                                 <p><a href="mailto:Hardestee@yahoo.com">Hardestee@yahoo.com </a></p>
                                                  <p><a href="mailto:Hardesteedrivingschool@gmail.com">Hardesteedrivingschool@gmail.com  </a></p>
                                                   <p><a href="mailto:Hardesteecharity@gmail.com">Hardesteecharity@gmail.com</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Jofco Shopping Complex opp K.T Femade Filling Station, Ogbodoroko Road close to Afon Junction Ilorin Kwara State.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="footer-widget__column footer-widget__newsletter">
                                    <h3 class="footer-widget__title">Newsletter</h3>
                                    <p class="footer-widget__newsletter-text">Subscribe for our weekly newsletter</p>
                                    <form class="footer-widget__newsletter-form mc-form" data-url="#">
                                        <div class="footer-widget__newsletter-input-box">
                                            <input type="email" placeholder="Email address" name="EMAIL">
                                            <button type="submit" class="footer-widget__newsletter-btn"><i
                                                    class="icon-sent-mail"></i></button>
                                        </div>
                                    </form>
                                    <div class="mc-form__response"></div><!-- /.mc-form__response -->
                                    <div class="footer-widget__newsletter-bottom">
                                        <div class="footer-widget__newsletter-bottom-icon">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                        <div class="footer-widget__newsletter-bottom-text">
                                            <p>I agree to all terms and policies</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-footer__bottom-inner">
                                <p class="site-footer__bottom-text">© All Copyright 2021 by <a
                                        href="#">oppenheim.io</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer One End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="#" aria-label="logo image"><h5>Hardestee Samuel Int'l</h5></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:Odewoyeadesty@gmail.com">Odewoyeadesty@gmail.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:08163854902">08163854902</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="https://www.facebook.com/hardesteedrivingschool/" class="fab fa-twitter"></a>
                    <a href="https://twitter.com/hardestee1?t=YS4QI28q2ufV1HL-_uOoIw&s=09" class="fab fa-facebook-square"></a>
                    <a href="https://audiomack.com/hardestee/song/best-of-hardestee-2022" class="fa fa-music"></a>
                    <a href="https://instagram.com/hardesteedrivingschool?utm_medium=copy_link" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


    <script src="{% static 'assets/vendors/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jarallax/jarallax.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-appear/jquery.appear.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/vendors/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'assets/vendors/odometer/odometer.min.js' %}"></script>
    <script src="{% static 'assets/vendors/swiper/swiper.min.js' %}"></script>
    <script src="{% static 'assets/vendors/tiny-slider/tiny-slider.min.js' %}"></script>
    <script src="{% static 'assets/vendors/wnumb/wNumb.min.js' %}"></script>
    <script src="{% static 'assets/vendors/wow/wow.js' %}"></script>
    <script src="{% static 'assets/vendors/isotope/isotope.js' %}"></script>
    <script src="{% static 'assets/vendors/countdown/countdown.min.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/vendors/twentytwenty/twentytwenty.js' %}"></script>
    <script src="{% static 'assets/vendors/twentytwenty/jquery.event.move.js' %}"></script>
    <script src="{% static 'assets/vendors/bxslider/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'assets/vendors/vegas/vegas.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/vendors/timepicker/timePicker.js' %}"></script>


    <script src="http://maps.google.com/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>


    <!-- template js -->
    <script src="{% static 'assets/js/kontin.js' %}"></script>
</body>

</html>